---
layout: default
---

<div id="home">
  <h1>{{ site.title }}</h1>
  <hr />

    <div>
    <p>I’m a visual learner, and I really like the illustrated style of writing.</p>
    <p>My blogs are designed to be easy to follow. I avoid big leaps of thought. Any time a new concept is introduced, 
        I explain it right away or tell you when I’ll explain it. Core concepts are reinforced with multiple explanations.
    </p>
    <p> Instead of writing symbol soup, my goal is to make it easy for you to visualize these concepts. I also think we 
      learn best by being able to recall something we already know, and examples make recall easier.
  </div>
  
  
  <div>
    <h4>Data Science</h4>
    <ol class="posts">
      {% for post in site.posts %}
        {% if post.path contains 'datascience' %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
        {% endif %}
      {% endfor %}  
    </ol>
  </div>
  
  <div>
    <h4>Deep Learning</h4>
    <ol class="posts">
      {% for post in site.posts %}
        {% if post.path contains 'deeplearning' %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
        {% endif %}
      {% endfor %}  
    </ol>
  </div>

</div><!-- end #home -->
